
.carousel-img-container {
    height: 500px; /* o el tamaño exacto que desees, por ejemplo 300px */
    overflow: hidden;
}

.carousel-img-container img {
    height: 100%;
    width: 50%;
    object-fit: cover;
}

.caption-bg {
    background-color: rgba(0, 0, 0, 0.5); /* fondo negro semitransparente */
    padding: 5%;
    border-radius: 8px;
    color: white;
}
